BasedOnStyle: InheritParentConfig

IncludeBlocks: Regroup
MainIncludeChar: Quote
IncludeIsMainRegex: '^test$'

IncludeCategories:
  # Associated test harness header.
  - Regex: '^"test\.h"$'
    Priority: 0
    SortPriority: 0

  # Public Scribe headers
  - Regex: '^<scribe/.*>$'
    Priority: 3
    SortPriority: 0

  # C standard library headers
  - Regex: '^<.*\.h>$'
    Priority: 1
    SortPriority: 1

  # Other external angle headers
  - Regex: '^<.*>$'
    Priority: 2
    SortPriority: 2

  # Other private/local quoted headers
  - Regex: '^".*"$'
    Priority: 4
    SortPriority: 4
